body {
	background-image: url("../images/login-background.jpg");
	background-color: #eea300;
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.child {
	background-color: rgb(53, 53, 53, 0.7);
	padding: 25px 25px 25px 25px;
	border-radius: 10px;
}

h1 {
	color: white;
	font-size: 25px;
	margin-bottom: 10%;
}

form {
	margin-bottom: 5%;
}

input {
	margin-right: 150px;
}

label {
	color: white;
}

.btn {
	background-color: #eea300;
	border: none;
}

.btn:hover {
	background-color: #d49100;
}

p {
	color: white;
}

a {
	text-decoration: none;
}
