.main-content {
	background-color: rgb(36, 36, 36);
	border-radius: 10px;
	padding: 2% 0 2% 0;
	color: white;
	display: flex;
}

.col-3 {
	border-right: 1px solid rgb(53, 53, 53);
	padding: 0 2% 0 2%;
}

#icon {
	width: 150px;
}

#name {
	color: white;
	font-size: 20px;
	margin-bottom: 2%;
}

#element {
	color: aquamarine;
}

h2 {
	color: white;
	font-size: 16px;
	margin-bottom: 2%;
}

#description {
	font-size: 12px;
	color: rgb(170, 170, 170);
}

.form-select {
	display: inline;
	width: auto;
}

.field {
	margin-bottom: 20px;
}

legend {
	margin: 0;
	font-size: large;
}

.btns {
	margin-top: 20%;
}

.col-6 {
	padding: 0 2% 0 2%;
}

.mats {
	display: flex;
	column-gap: 10px;
	margin-bottom: 5%;
}

.mat {
	background-color: rgb(53, 53, 53);
	border-radius: 5px;
	width: 65px;
}

.mat-icon {
	height: 50px;
	margin: 10% 5% 10% 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.price {
	background-color: rgb(77, 77, 77);
	border-radius: 0 0 5px 5px;
}

.mat p {
	font-size: small;
	text-align: center;
	margin: 0 0 0 0;
}
